---

name: CI

'on':
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    - cron: 29 4 * * 6

jobs:
  shellcheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: |
          sudo apt-get update
          sudo apt-get install -y -q shellcheck

      - run: shellcheck bin/*
